<div class="row">
  <h2>Edit Quote Request</h2>
     <%= form_for(@quote, html: { role: "form", class: "form" }) do |f| %>
     <br />
       <% if admin_signed_in? %>
         <div class="form-group">
           <%= f.label :quote_type %>
           <%= f.text_field :quote_type, class: "form-control" %>
         </div>
         <div class="form-group">
         <%= f.label :status, class: "col-sm-6" %>
         <div class="col-sm-12 col-lg-12">
            <%= f.collection_select :status_type_id, StatusType.order(:name), :id, :name %>
         </div>
        </div>
       <% end %>
       <div class="form-group">
         <%= f.hidden_field :user_id, value: @quote.user_id %>
         <!-- <% f.hidden_field :quote_type, value: @quote.quote_type %> -->
       </div>
       <%= f.fields_for(:questionaire, html: { role: "form", class: "form" } ) do |q| %>
         <div class="form-group">
           <%= q.hidden_field :quote_id, value: @quote.id %>
           <%= q.hidden_field :user_id, value: @quote.user_id %>
           <%= q.hidden_field :product_type, value: @quote.questionaire.product_type %>
           <%= q.text_area :comments, class: "form-control", placeholder: "Type your quote request here" %>
         </div>
       <% end %>
       <br />
       <hr>
       <br />
       <div class="modal-footer">
           <%= f.submit "Submit for Quote", class: "btn btn-primary" %>
       </div>
   <% end %>
</div>
