<!-- Modal -->
<div id="fire_door_inspection" role="dialog"  class="modal fade">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close modal-close"><i class="icon s7-close"></i></button>
      <h3 class="modal-title">Cameras and Security Systems</h3>
    </div>
    <div class="modal-body">
      <h4>Services we offer</h4>
      <ul>
        <li>
          Security Assessments
        </li>
        <li>
          Security Systems
        </li>
        <li>
          Camera Systems
        </li>
      </ul>
      <%= form_for(@quote, html: { role: 'form', class: 'form'}) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :quote_type, value: "fire door inspection" %>
        <%= f.hidden_field :pending, value: "true" %>
      </div>
        <%= f.fields_for(:quote_detail) do |qd| %>
        <%= qd.hidden_field :quote_comments, value: "Details created!" %>
      <% end %>
        <%= f.fields_for(:questionaire) do |q| %>
        <%= q.hidden_field :product_type, value: "fire door inspection" %>
        <%= q.label 'Requests'  %>
        <%= q.text_area :comments, class: "form-control", placeholder: "Type your requests here" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default modal-close">Cancel</button>
      <%= f.submit "Submit for Quote", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
