<!-- Modal -->
  <div class="modal fade" id="fire_door_inspection" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cameras and Security Systems<</h4>
        </div>
        <div class="modal-body">
          <h3>Services we offer</h3>
          <ul>
            <li>
              Security Assessments
            </li>
            <li>
              Security Systems
            </li>
            <li>
              Camera Systems
            </li>
          </ul>
          <%= form_for(@quote) do |f| %>
            <div class="form-group">
              <%= f.hidden_field :user_id %>
              <%= f.hidden_field :quote_type, value: "fire door inspection" %>
              <%= f.hidden_field :pending, value: "true" %>
            </div>
            <%= f.fields_for(:quote_detail) do |qd| %>
              <%= qd.hidden_field :quote_comments, value: "Details created!" %>
            <% end %>
            <%= f.fields_for(:questionaire) do |q| %>
              <%= q.hidden_field :product_type, value: "fire door inspection" %>
              <%= q.label :comments, class: "control-label" %>
              <%= q.text_area :comments, class: "form-control" %>
            <% end %>
        </div>
        <div class="modal-footer">
            <%= f.submit "Submit Quote", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
