<nav class="main-nav-outer" id="primary_nav" >
  <div class="container">
    <ul class="main-nav">
      
        <li>
          <a href="#header">Home</a>
        </li>
        <li>
          <%= link_to "Services", "#service" %>
        </li>
        <li>
          <%= link_to  "Products",  "#Portfolio" %>
        </li>

      <!-- ICON -->
      <li class="small-logo">
        <%= link_to "#header"  do %>
          <%= image_tag "EAH-Brand.png", class: "logo" %>
        <% end %>
      </li>
      <!-- CHECK IF THE DUDE LOGGED IN. -->
      <!-- < if  !current_user.blank? || !current_admin.blank? %> -->
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            <!-- TOGGLE TEXT -->
            <% if user_signed_in? %>
              My EAHS
            <% end %>
            <% if current_admin != nil %>
              <% if !admin_signed_in? %>
                EAHS Admin
              <% end %>
            <% end %>
              <span class="angle-down s7-angle-down"></span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <% if  current_user.blank? && current_admin.blank? %>
              <%= link_to "Register to access!", new_user_registration_path %>
            <% end %>
            <!-- ADMIN OPTIONS -->
            <% if admin_signed_in? %>
              <li>
                <%= link_to "Quotes", quotes_path %>
              </li>
              <li>
                <%= link_to 'Settings', edit_admin_registration_path %>
              </li>
              <li>
                <%= link_to 'Approve User', admins_signed_up_path %>
              </li>
            <% end %>
            <!-- USER OPTIONS -->
            <% if user_signed_in? %>
              <li>
                <%= link_to "View Open Quotes", quotes_path %>
              </li>
              <li>
                <%= link_to "Edit Account Details", edit_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if current_user.blank? && current_admin.blank? %>
          <% if @adminFlag %>
            <li>
              <%= link_to 'Admin Register',  new_admin_registration_path %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign Up',  '#register' %>
            </li>
        <% end %>
      <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            Sign In
            <span class="angle-down s7-angle-down"></span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <% if @adminFlag %>
              <li style="width: 600px;">
                <%= render "admins/sessions/new" %>
              </li>
            <% else %>
              <li style="width: 600px;">
                <%= render "users/sessions/new" %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
      <% if admin_signed_in? %>
        <li>
          <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
    <a class="res-nav_click hidden-xl hidden-lg" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
