<nav class="main-nav-outer" id="primary_nav" >
  <div class="container">
    <ul class="main-nav">
      <% if controller.controller_name == "home" %>
        <li>
          <a href="#header">Home</a>
        </li>
      <% else %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
      <% end %>
        <li>
          <%= link_to "Services", "#service" %>
        </li>
        <li>
          <%= link_to  "Products",  "#Portfolio" %>
        </li>
      <!-- ICON -->
      <li class="small-logo">
        <%= link_to "#header"  do %>
          <%= image_tag "EAH-Brand.png", class: "logo" %>
        <% end %>
      </li>
      <!-- CHECK IF THE DUDE LOGGED IN. -->
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            <!-- TOGGLE TEXT -->
              My EAHS
            <span class="angle-down s7-angle-down"></span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <% if  current_user.blank? && current_admin.blank? %>
              <%= link_to "Register to access!", new_user_registration_path %>
            <% end %>
            <!-- ADMIN OPTIONS -->
            <!-- Removed for now -->
            <!-- USER OPTIONS -->
            <% if user_signed_in? %>
              <li>
                <%= link_to "View Open Quotes", quotes_path %>
              </li>
              <li>
                <%= link_to "Edit Account Details", edit_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if current_user.blank? && !@adminFlag %>
          <li>
            <%= link_to 'Sign Up',  '#register' %>
          </li>
        <% end %>
        <% if current_user.blank? &&  !@adminFlag %>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
              Sign In
              <span class="angle-down s7-angle-down"></span>
            </a>
            <ul role="menu" class="dropdown-menu">
              <li style="width: 600px;">
                <%= render "users/sessions/new" %>
              </li>
            </ul>
          </li>
        <% end %>
        <% if user_signed_in? %>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
    <a class="res-nav_click hidden-xl hidden-lg" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
