<% product_detail.each do |pd_value| %>
  <tr>
    <td class="hidden">
      <%= pd.hidden_field :id, value: pd_value.id %>
    </td>
    <td class="hidden">
      <%= pd.hidden_field :product_id, value: pd_value.product_id %>
    </td>
    <td>
      <%= link_to destroy_admin_product_detail_path(pd_value.id),  data: { confirm: 'Are you sure?' }, method: :delete, remote: true do %>
        <i class="fa fa-trash fa-2x"></i>
      <% end %>
    </td>
    <td>
      <%= link_to edit_admin_product_detail_path(pd_value.product_id, pd_value.id), remote: true do %>
        <i class="fa fa-pencil fa-2x"></i>
      <% end %>
    </td>
    <td>
      <%= pd_value.model_number %>
    </td>
    <td>
      <%= pd_value.model_description %>
    </td>

    <td>
      <%= pd_value.product_detail_type %>
    </td>
  </tr>
<% end %>
