<header class="header" id="header">
  <div class="container">
    <figure class="logo animated fadeInDown delay-07s">
      <%= link_to "#" do %>
        <%= image_tag "EAH-Brand.png" %>
      <% end %>
    </figure>
    <h1 class="animated fadeInDown delay-07s">EAHS</h1>
    <ul class="we-create animated fadeInUp delay-1s">
      <li>Welcome to EAHS Locksmith Inc</li>
      <p>
        EAH Locksmith, Inc has over 40 years of combined experience and offers a variety of services.
      </p>
    </ul>
    <% if current_user.blank? %>
      <a class="link animated fadeInUp delay-1s servicelink" href="#register">Register Now</a>
    <% end %>
  </div>
</header>
<%= render 'layouts/shared/navbar' %>

<%= render partial: 'products/products_list', locals: { product_top: @product_top, product_middle: @product_middle, product_bottom: @product_bottom } %>

<% if  current_user.blank? && current_admin.blank? %>
  <section class="main-section" id="register">
    <%= render partial: 'users/shared/new' %>
  </section>
<% end %>

<%= render 'quotes/locksmith' %>
<%= render 'quotes/security' %>
<%= render 'quotes/fire_door_inspection' %>
