<section class="main-section paddind" id="Portfolio">
  <!--main-section-start-->
  <div class="container">
    <!-- <h2>Products</h2> -->
    <h2>Vendors we work with</h2>
    <div class="portfolioFilter">
      <ul class="Portfolio-nav wow fadeIn delay-02s">
        <li><a href="#" data-filter="*" class="current">All</a></li>
        <li><a href="#" data-filter=".branding">Security Solutions</a></li>
        <li><a href="#" data-filter=".webdesign">Locksmithing</a></li>
        <li><a href="#" data-filter=".printdesign">Safes</a></li>
        <li><a href="#" data-filter=".firedoor">Firedoor Inspection</a></li>
        <li><a href="#" data-filter=".forensic">Forensice Locksmith</a></li>
      </ul>
    </div>
  </div>
  <div class="portfolioContainer wow fadeInUp delay-04s">
    <div class=" Portfolio-box printdesign">
      <%= link_to "#" do %>
        <%= image_tag "1507665422937.png" %>
      <% end %>
      <!-- <h3>Foto Album</h3>
      <p>Print Design</p> -->
    </div>
    <div class="Portfolio-box webdesign">
      <%= link_to "#" do %>
        <%= image_tag "Assalock-Logo.png" %>
      <% end %>
      <!-- <h3>Luca Theme</h3>
      <p>Web Design</p> -->
    </div>
    <div class=" Portfolio-box branding">
      <%= link_to "#" do %>
        <%= image_tag "CorbinRusswin-Logo.png" %>
      <% end %>
      <!-- <h3>Uni Sans</h3>
      <p>Branding</p> -->
    </div>
    <div class=" Portfolio-box webdesign">
      <%= link_to "#" do %>
        <%= image_tag "markslogo.png" %>
      <% end %>
      <!-- <h3>Vinyl Record</h3>
      <p>Photography</p> -->
    </div>
    <div class=" Portfolio-box branding">
      <%= link_to "#" do %>
        <%= image_tag "mmf-logo-150.jpg" %>
      <% end %>
      <!-- <h3>Hipster</h3>
      <p>Branding</p> -->
    </div>
    <div class=" Portfolio-box branding">
      <%= link_to "#" do %>
        <%= image_tag "Mul-t-lock-Logo.png" %>
      <% end %>
      <!-- <h3>Windmills</h3>
      <p>Photography</p> -->
    </div>
    <div class=" Portfolio-box firedoor">
      <h3>Firedoor Inspection</h3>
      <p>Call for request</p>
    </div>
    <div class=" Portfolio-box forensic">
      <h3>Forensic Locksmithing</h3>
      <p>Call for request</p>
    </div>
  </div>
</section>
