<!DOCTYPE html>
<html>
<head>
  <title>EAHSecurity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo">
                <a href="index.html"><span class="logo-icon"></span><span class="text">EAHS</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                          <%= link_to "Home", home_index_path %>
                        </li>
                        <li class="nav-item dropdown">
                          <% if admin_signed_in? %>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li>
                                  <%= link_to "Quotes", quotes_path %>
                                </li>
                                <hr />
                                <li>
                                  <%= link_to 'Settings', edit_admin_registration_path %>
                                </li>
                                <li>
                                  <%= link_to 'User Index', admins_signed_up_path %>
                                </li>
                                <li>
                                  <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
                                </li>
                              </ul>
                            </li>
                          <% end %>
                          <% if user_signed_in? %>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as - <%= current_user.email %><b class="caret"></b></a>
                            <ul class="dropdown-login">
                              <li>
                                <%= link_to "View Open Quotes", quotes_path %>
                              </li>
                              <hr/>
                              <li>
                                <%= link_to "Edit Account Details", edit_user_registration_path %>
                              </li>
                              <li>
                                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
                              </li>
                            </ul>
                          </li>
                          <% end %>
                          <% if current_user.blank? && current_admin.blank? %>
                            <li class="hidden-xs"><p class="navbar-text text-center">|</p></li>
                            <li class="dropdown">
                              <a href="#" class="data-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                              <ul class="dropdown-login">
                                <% if @adminFlag %>
                                  <li>
                                    <%= render "admins/sessions/new" %>
                                  </li>
                                  <% else %>
                                    <li>
                                      <%= render "users/sessions/new" %>
                                    </li>
                                  <% end %>
                              </ul>
                              </li>
                              <% if @adminFlag %>
                                <li class="nav-item nav-item-cta last">
                                  <%= link_to 'Sign Up',  new_admin_registration_path, class: "btn btn-cta btn-cta-secondary" %>
                                </li>
                              <% else %>
                                  <li>
                                    <%= link_to 'Sign Up',  new_user_registration_path, class: "btn btn-cta btn-cta-secondary" %>
                                  </li>
                                <% end %>
                            </ul>
                          <% end %>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header>
  <%= render "layouts/messages_and_content" %>
</body>
</html>
