<!DOCTYPE html>
<html>

<head>
  <title>EAHSecurity</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="am-wrapper am-nosidebar-left">
    <!-- < render "layouts/shared/navbar" %> -->
    <div class="am-content">
      <div class="page-head">
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <!-- OVVERIDES THE CONTENT CONTAINER PER CONTROLLER -->
      <div class="main-content-<%= controller.controller_name %>">
        <%= render "layouts/messages_and_content" %>
        <%= yield %>
      </div>
    </div>
  </div>
  <!--  if current_user.blank? && current_admin.blank?  -->

</body>
</html>
