<!DOCTYPE html>
<html>
<head>
  <title>EAHSecurity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="sin-estilo">
          <li class="sin-estilo">
            <%= image_tag "EAH-Brand",  class: "img-small brand-holder" %>
            <%= link_to "EAH Security", home_index_path, class: "navbar-brand sin-estilo" %>
          </li>
        </ul>
      </div>
      <div id="nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Quotes", quotes_path %>
                </li>
                <hr />
                <li>
                  <%= link_to 'Settings', edit_admin_registration_path %>
                </li>
                <li>
                  <%= link_to 'User Index', admins_signed_up_path %>
                </li>
                <li>
                  <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as - <%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-login">
              <li>
                <%= link_to "View Open Quotes", quotes_path %>
              </li>
              <hr/>
              <li>
                <%= link_to "Edit Account Details", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% end %>
          <% if current_user.blank? && current_admin.blank? %>
            <li class="hidden-xs"><p class="navbar-text text-center">|</p></li>
            <li class="dropdown">
              <a href="#" class="data-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
              <ul class="dropdown-login">
                <li>
                  <%= render "users/sessions/new" %>
                </li>
              </ul>
              </li>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= render "layouts/messages_and_content" %>
</body>
</html>
