<!DOCTYPE html>
<html>

<head>
  <title>EAHSecurity</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="am-wrapper am-nosidebar-left">
    <div class="am-content-<%=controller_name %>">
      <div class="page-head-<%= controller_name %>">
        <% if @show_top_nav_bar %>
          <% if can? :view, Home %>
            <%= render 'layouts/shared/admin_navbar' %>
          <% else %>
            <%= render 'layouts/shared/navbar' %>
          <% end %>
        <% end %>
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <!-- OVVERIDES THE CONTENT CONTAINER PER CONTROLLER -->
      <div class="main-content-<%= controller.controller_name %>">
          <%= render "layouts/messages_and_content" %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
